.product-container {
    margin: 3rem auto;
    width: 60%;
    display: flex;
    align-items: center;
    background-color: aliceblue;
    padding: 2.5rem 4rem;
    border-radius: 0.5rem;
    justify-content: space-between;
    font-size: large;
}

.product-container img {
    width: 30%;
    justify-self: right;
    border-radius: 0.7rem;
}

.product-container button {
    background-color: rgb(172, 10, 10);
    color: white;
    border: 1px solid black;
    border-radius: 0.3rem;
    font-weight: bold;
    padding: 8px 12px;
    margin-top: 20px;
}

.product-container button:hover {
    background-color: rgb(240, 20, 20);
}

.product-container .price {
    font-size: larger;
}